body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  padding: 40px;
  background: #4CAF50;
  color: white;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}
